.darkTheme {

  --backgroundColor: #320642;
  --color: white;
  --fontFamily: 'Poppins', sans-serif;
  --pixelatedFontFamily: 'Press Start 2P', cursive;
  --fontSize: 16px;

  --navbarBackgroundColor: #8410af;
  --navbarBackgroundGradient_leftAccent: #8410af;
  --navbarBackgroundGradient_rightAccent: #580b75;
  --navbarBorderBottomColor: #fc27e7;
  --navbarBorderBottomWidth: 5px;
  --navbarPadding: 2.5%;
  --navbarHeight: 2.5%;
  --navbarFontSize: 2vmin;
  --navbarLinkColor: #96bdfe;
  --navbarLinkColor_hover: #5695fe;
  --navbarLinkColor_active: #2476fd;

  --linkColor: #024ac4;
  --linkColor_hover: #01296b;
  --linkColor_active: #001435;

  --boxBackgroundColor: #8410af;
  --boxBackgroundGradient_leftAccent: #8410af;
  --boxBackgroundGradient_rightAccent: #500b6a;
  --boxColor: white;
  --boxBorderRadius: 15px;
  --boxPadding: 30px;
  --boxBoxShadow: 0px 30px 15px #00000088;

  --h1FontSize: 64px;
  --h2FontSize: 48px;
  --h3FontSize: 36px;
  --h4FontSize: 24px;
  --h5FontSize: 16px;
  --h6FontSize: 8px;

  --buttonBackgroundColor: #f7c9fc;
  --buttonColor: #2c166b;

}