/*

  Buildblend WebCore, WebCore Project 0.0.0

*/

br {
  height: 2vmin;
  user-select: none;
}

body {
  padding: 2.5%;
}

Text {
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmin;
  color: inherit;
  display: inline;
  line-height: 2vmin;
}

Code, Codeblock {
  font-family: monospace;
  font-size: 16px;
  display: inline;
  background-color: #00000040;
  border-radius: 5px;
  padding: 0.5%;
  font-size: 2vmin;
}

Codeblock {
  background-color: #00000040;
  display: block;
  padding: 30px;
  border-radius: 5px;
}

Filename {
  background-color: #00000080;
  color: white;
  padding: 15px;
  width: calc(100% / 10);
  display: inline-block;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

Filename + Codeblock {
  border-top-left-radius: 0px;
}

Filename[Focused] {
  background-color: #000000B0;
}