body {
  color: var(--bodyColor);
  font-size: var(--bodyFontSize);
  font-family: var(--bodyFontFamily);
}

div {
  background-color: #00000025;
  padding: 5%;
  border-radius: 15px;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.flexbox *:not(:first-child) {
  margin-left: 15px;
}

a {
  color: var(--linkColor);
  text-shadow: var(--linkShadow);
  text-decoration: none;
  transition: color 1000ms, text-shadow 1000ms;
}

a:hover,
a:active,
a:focus {
  color: var(--linkColor_hover);
  text-shadow: var(--linkShadow_hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFontFamily);
}

  
h1 {  font-size: var(--heading1FontSize);  }
h2 {  font-size: var(--heading2FontSize);  }
h3 {  font-size: var(--heading3FontSize);  }
h4 {  font-size: var(--heading4FontSize);  }
h5 {  font-size: var(--heading5FontSize);  }
h6 {  font-size: var(--heading6FontSize);  }

.first_section h1 {
  font-family: var(--headingMainFontFamily);
  font-weight: var(--headingMainFontWeight);
  filter: drop-shadow(-5px -5px 0px var(--bodyColor_translucent));
  font-size: 72px;
  background: -webkit-linear-gradient(45deg, var(--bodyColor), var(--bodyColor_darker));
  background: linear-gradient(45deg, var(--bodyColor), var(--bodyColor_darker));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

button {
  border: none;
  border-radius: var(--buttonBorderRadius);
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonColor);
  filter: drop-shadow(var(--buttonShadow)) brightness(150%);
  padding: var(--buttonPadding);
  font-family: var(--buttonFontFamily);
  font-size: var(--buttonFontSize);
  transition: background-color 1000ms, filter 1000ms;
  user-select: none;
}

button:hover,
button:active,
button:focus {
  background-color: var(--buttonBackgroundColor_hover);
  filter: drop-shadow(var(--buttonShadow_hover)) brightness(200%);
}

hr {
  height: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  background-color: var(--colorScheme3);
}

br {
  user-select: none;
}