:root {
  --colorScheme1: rgb(210, 180, 255); --colorScheme1_translucent: rgba(210, 180, 255, 0.5);
  --colorScheme2: rgb(16, 8, 64);
  --colorScheme3: rgb(25, 12, 99); --colorScheme3_translucent: rgba(25, 12, 99, 0.5);
  --colorScheme4: rgb(35, 18, 133);
  --colorScheme5: rgb(39, 20, 148);
  --colorScheme6: rgb(59, 39, 177);
  --colorScheme7: rgb(72, 51, 196);
  --colorScheme8: rgb(98, 76, 223);
  --colorScheme9: rgb(75, 159, 255);
  --colorScheme10: rgb(13, 88, 173);

  --bodyBackgroundColor: var(--colorScheme2);
  --bodyColor: var(--colorScheme1);
  --bodyColor_translucent: var(--colorScheme1);
  --bodyColor_darker: var(--colorScheme8);
  --bodyPadding: 5%;
  --bodyFontFamily: 'Poppins', sans-serif;
  --bodyFontFamily_monospace: 'Cascadia Mono', monospace;
  --bodyFontSize: 16px;

  --selectionBackgroundColor: var(--colorScheme5);
  --selectionColor: var(--colorScheme1);

  --navbarBackgroundColor: var(--colorScheme3_translucent);
  --navbarColor: var(--colorScheme1);
  --navbarPadding: 2.5%;
  --navbarFontFamily: 'Cascadia Mono', 'Poppins', monospace;
  --navbarFontSize: 2.5vmin;

  --headingFontFamily: 'Montserrat', 'Poppins', sans-serif;
  --headingMainFontFamily: 'Press Start 2P', 'Montserrat', 'Poppins', sans-serif;
  --headingMainFontWeight: 900;
  --heading1FontSize: 64px;
  --heading2FontSize: 42px;
  --heading3FontSize: 36px;
  --heading4FontSize: 32px;
  --heading5FontSize: 24px;
  --heading6FontSize: 20px;

  --linkColor: var(--colorScheme9);
  --linkColor_hover: var(--colorScheme10);
  --linkShadow: 0px 0px 5px var(--colorScheme9);
  --linkShadow_hover: 0px 0px 10px var(--colorScheme10);

  --buttonBorderRadius: 15px;
  --buttonBackgroundColor: var(--colorScheme3);
  --buttonBackgroundColor_hover: var(--colorScheme4);
  --buttonColor: var(--colorScheme1);
  --buttonShadow: 0px 2.5px 10px var(--colorScheme3);
  --buttonShadow_hover: 0px 5px 10px var(--colorScheme4);
  --buttonPadding: 2.5%;
  --buttonFontFamily: 'Cascadia Mono', 'Poppins', monospace;
  --buttonFontSize: 16px;
}