h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: var(--headingFontFamily);
  font-weight: var(--headingFontWeight);
}

h1 .headingMinor, 
h2 .headingMinor, 
h3 .headingMinor, 
h4 .headingMinor, 
h5 .headingMinor, 
h6 .headingMinor {
  font-size: var(--headingMinorFontSize);
}

h1 {  font-size: var(--h1FontSize);  }
h2 {  font-size: var(--h2FontSize);  }
h3 {  font-size: var(--h3FontSize);  }
h4 {  font-size: var(--h4FontSize);  }
h5 {  font-size: var(--h5FontSize);  }
h6 {  font-size: var(--h6FontSize);  }

button {
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonColor);
  border-radius: var(--buttonBorderRadius);
  transition: background-color 2500ms, color 2500ms, border-radius 2500ms;
}

img {
  border-radius: var(--imageBorderRadius);
  width: 50%;
  height: 50%;
  float: right;
  position: relative;
}

body div:first-child {
  margin-top: 7.5vmin;
}

body div:last-child {
  margin-bottom: calc(var(--footerHeight) + 10%);
}