html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily);
  font-weight: var(--bodyFontWeight);
  padding: var(--bodyPadding);
  font-size: var(--bodyFontSize);
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  background-color: var(--navbarBackgroundColor);
  padding: var(--navbarPadding);
  text-align: center;
  z-index: 65536;
  user-select: none;
}

nav a {
  position: relative;
  top: 33.333333333333333%;
  text-align: center;
  color: var(--navbarColor);
  text-decoration: none;
  font-family: var(--monospace);
  padding: 15px;
  transition: color 1s;
}

nav a:hover {
  color: var(--navbarColor_hover);
}

nav a:active,
nav a:focus {
  color: var(--navbarColor_active);
}

nav a:not(:first-child) {
  margin-left: var(--navbarContentMarginLeft);
}

div {
  background-color: var(--divBackgroundColor);
  color: var(--divColor);
  padding: var(--divPadding);
  border-radius: var(--divBorderRadius);
}

footer {
  background-color: var(--footerBackgroundColor);
  color: var(--footerColor);
  padding: var(--footerPadding);
  width: 100%;
  height: var(--footerHeight);
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.backgroundStars1,
.backgroundStars2,
.backgroundStars3 {
  width: 16px;
  height: 16px;
  z-index: -65536;
  animation-name: starsAnimation;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  user-select: none;
}

.backgroundStars1 {
  animation-delay: 500ms;
}

.backgroundStars2 {
  animation-delay: 1000ms;
}

.backgroundStars3 {
  animation-delay: 1500ms;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--navbarBackgroundColor);
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorScheme8); 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorScheme7); 
}

.textGradient {
  background: -webkit-linear-gradient(45deg, var(--colorScheme10), var(--colorScheme11));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}